<!-- concert new view -->

<div class="container">


  <div style="background-color: white" class="container">


    <h1 style="font-family: sans-serif;
    color: grey;"> New Concert</h1>





    <div class="row">



    <div class="col-md-4">

      <div style="color: grey;background: lightgrey; height: 550px" class="jumbotron">

      <table style="border: 3px solid #FAF4F4"class = "table">


      <p>
        <strong>Tell us about it...</strong>

        
      </p>
    </table>


   

    </div>
         
              
    </div>
              
     


    <div class="col-md-8">

      <div style="color: grey; background: lightgrey; height: 550px" class="jumbotron">


        

        	<%= render 'form' %>


        
        

        


      </div>

      <!-- Indicates caution should be taken with this action -->

    </div>

      
   </div>



</div>



<div>


















